################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SummerNextGeneration2019/v16/Server/sqlite3
