@{
    ViewBag.Title = "Acerca do YU-GI-OH!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Yu-Gi-Oh! (rei dos jogos) é uma série de mangá sobre jogo, escrita e ilustrada por Kazuki Takahashi. 
    A série foi originalmente publicada pela editora Shueisha na revista Weekly Shōnen Jump entre 1996 e 2004. A trama segue a história 
    de um menino chamado Yugi Muto, que remonta o antigo Enigma do Milênio, e desperta um espiríto dentro de seu corpo com a personalidade 
    de um jogador e que resolve seus conflitos usando vários jogos.
    Duas adaptações em anime do mangá original foram produzidas: uma pela Toei Animation com o mesmo nome, que foi ao ar de 4 de abril de 1998 
    a 10 de outubro de 1998, com 27 episódios; e outra produzida pela Nihon Ad Systems e animada pelo Studio Gallop intitulada Yu-Gi-Oh! Duel Monsters, 
    que foi ao ar entre abril de 2000 e setembro de 2004, com 224 episódios. O segundo anime expandiu uma franquia que inclui vários animes spin-offs,
    Trading Card Game e diversos vídeojogos.
    A maioria das incarnações da franquias envolvem o jogo de cartas fictício chamado Duel Monsters (Monstros de Duelo) onde cada jogador usa cartas 
    para um "duelo" entre si, em uma batalha simulada de duelo de "monstros". O Yu-Gi-Oh! Trading Card Game é a contraparte do mundo real para este jogo 
    ficticio em que é livremente baseado.
</p>
