@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>

<address>
    Avenida 24 Julho 98 Lisboa 1200-870 LISBOA<br />
    Lisboa, 1200-870 LISBOA<br />
    <abbr title="213 960 026">Contacto telefónico: 213 960 026</abbr>
    
</address>

<address>
    <strong>Pedro Relvas:</strong>   <a href="mailto:peperelvas@hotmail.com">peperelvas@hotmail.com</a><br />
    <strong>Rodrigo Amaro:</strong> <a href="mailto:rudiamaro@gmail.com">rudiamaro@gmail.com</a><br />
    <strong>Thomas Reiter:</strong> <a href="mailto:ebcorroios2015.tic8c.thomasr@gmail.com">ebcorroios2015.tic8c.thomasr@gmail.com</a>
</address>