 @{ 
ViewBag.Title = "FoiAvisado";
    Layout = "~/Views/Shared/_Layout.cshtml";



<html>
<head>
    <title>SPOILER ALERT: CURIOSOS!!!</title>
</head>
<body>
    <h1>Olha quem diria, tantos curiosos!</h1>
    <p>É que o mais impressionante disto tudo, ignoraram o que dizia no botão!!</p>
</body>
</html>