@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projeto Final</h1>
    <p class="lead">Explore este site á sua vontade e divirta-se!!! Esperemos que goste!!!</p>
    <p><a href="https://localhost:44311/Home/FoiAvisado" class="btn btn-primary btn-lg">Não Clique &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Simulador</h2>
        <p>Este Simulador é apenas para ser uma experiência breve do que o jogo original pode oferecer.</p>
        <p><a class="btn btn-default" href="https://localhost:44311/Jogo/Tabuleiro">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Acerca</h2>
        <p>Neste espaço poderemos ver um pouco mais da história deste jogo ao longo dos anos (1996-2004).</p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/About">Saber mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contactos</h2>
        <p>Clique se tiver alguma dúvida que precise de esclarecer para saber mais.</p>
        <p><a class="btn btn-default" href="https://localhost:44311/Home/Contact">Saber mais &raquo;</a></p>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-4">
        <img src="~/images/@ViewBag.Image1" alt="", class="col-md-12" />
    </div>
    <div class="col-md-4">
        <img src="~/images/@ViewBag.Image2" alt="" , class="col-md-12" />
    </div>
    <div class="col-md-4">
        <img src="~/images/@ViewBag.Image3" alt="" , class="col-md-12" />
    </div>
</div>