
@{
    ViewBag.Title = "Tabuleiro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tabuleiro</h2>
<div class="row">
    Jogador 1: <input type="text" name="Jogador1" value=@ViewBag.PontosJogador1 disabled><br>
    Jogador 2: <input type="text" name="Jogador2" value=@ViewBag.PontosJogador2 disabled><br>
    </div>